/* others-api-url */
.md-typeset details.others-api-url .highlight,
.md-typeset .admonition.others-api-url .highlight {
    margin: 0;
}
.md-typeset details.others-api-url pre,
.md-typeset .admonition.others-api-url pre {
    margin: 0.5rem 0;
}
.md-typeset details.others-api-url pre button,
.md-typeset .admonition.others-api-url pre button {
    transform: translateY(-0.5rem);
}
.md-typeset details.others-api-url code,
.md-typeset .admonition.others-api-url code {
    background: none;
    font-size: 0.8rem;
    padding: 0 1rem;
}
